# Package Files #
*.jar
*.war
*.ear
*.class
*.classpath
*.factorypath
*.project
*.settings
*.vs

# Log Files #
*.log
*.logs
*.btm

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# data
data/
target/
bin/
logs/
.vs/

# Developer Configurations

/application.properties
/bootstrap.properties

# Don't Save Angular
resource/src/main/resources/static/
